/*GENERAL*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #507255;
}

html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

/*NAVBAR*/
section#navbar {
  position: fixed;
  z-index: 8;
  top: 0;
  width: 100%;
  background-color: #282828;
  color: #d7d7d7;
  font-family: "Libre Franklin", sans-serif;
  -webkit-box-shadow: 0px 2px 10px #222;
          box-shadow: 0px 2px 10px #222;
}

section#navbar div.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
  height: 50px;
}

section#navbar div.nav-container div#logo {
  display: inline-block;
  height: inherit;
}

section#navbar div.nav-container div#logo button {
  display: none;
}

section#navbar div.nav-container div#logo div {
  height: inherit;
}

section#navbar div.nav-container div#logo div a {
  height: inherit;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #d7d7d7;
  background-color: #3b444b;
  font-weight: 700;
  -webkit-transition: font-weight .6s, color .6s, background-color .6s;
  transition: font-weight .6s, color .6s, background-color .6s;
}

section#navbar div.nav-container div#logo div a:hover {
  color: #282828;
  background-color: #507255;
}

section#navbar div.nav-container div#logo div a:hover text, section#navbar div.nav-container div#logo div a:hover polygon, section#navbar div.nav-container div#logo div a:hover path {
  fill: #282828;
}

section#navbar div.nav-container div#logo div a:hover circle {
  stroke: #282828;
}

section#navbar div.nav-container div#logo div a svg {
  padding-right: 2.5px;
  width: 55px;
  height: 55px;
}

section#navbar div.nav-container div#logo div circle {
  stroke: #d7d7d7;
  stroke-width: 10;
  fill: transparent;
  -webkit-transition: stroke .6s;
  transition: stroke .6s;
}

section#navbar div.nav-container div#logo div text, section#navbar div.nav-container div#logo div polygon, section#navbar div.nav-container div#logo div path {
  fill: #d7d7d7;
  -webkit-transition: fill .6s;
  transition: fill .6s;
}

section#navbar div.nav-container div#nav-list {
  display: inline-block;
  height: inherit;
  width: 75%;
}

section#navbar div.nav-container div#nav-list div#nav-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  height: inherit;
}

section#navbar div.nav-container div#nav-list div#nav-list-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #d7d7d7;
  -webkit-transition: font-weight .6s, color .6s, background-color .6s;
  transition: font-weight .6s, color .6s, background-color .6s;
}

section#navbar div.nav-container div#nav-list div#nav-list-container a:hover {
  font-weight: 700;
  color: #282828;
  background-color: #6a8d73;
}

/*HERO IMAGE*/
section#pictureHero {
  background-image: url(./img/Pic-Hero.jpg);
  background-size: cover;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  height: 100vh;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 80px 10px #282828;
          box-shadow: inset 0px 0px 80px 10px #282828;
}

/*PICTURES*/
section#picture1 {
  background-image: url(./img/Pic-Jump.jpg);
  height: 100vh;
  background-size: cover;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 80px 10px #282828;
          box-shadow: inset 0px 0px 80px 10px #282828;
}

section#picture2 {
  background-image: url(./img/Pic-Acting.jpg);
  height: 100vh;
  background-size: cover;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 80px 10px #282828;
          box-shadow: inset 0px 0px 80px 10px #282828;
}

section#picture3 {
  background-image: url(./img/Pic-Fairy.jpg);
  height: 100vh;
  background-size: cover;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 80px 10px #282828;
          box-shadow: inset 0px 0px 80px 10px #282828;
}

section#picture4 {
  background-image: url(./img/Pic-Headweare.jpg);
  height: 100vh;
  background-size: cover;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 80px 10px #282828;
          box-shadow: inset 0px 0px 80px 10px #282828;
}

div#subtitle {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  bottom: 82vh;
  height: 0px;
}

div#subtitle div#sub-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#subtitle div#sub-wrapper h1 {
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: .03em;
  font-weight: 800;
  font-size: 5em;
  color: #eff1f3;
  text-shadow: 0px 0px 10px #000;
}

div#subtitle div#sub-wrapper h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.75em;
  color: #eff1f3;
  text-shadow: 0px 0px 10px #000;
  padding: 15px;
}

/*UP BUTTON*/
div#up-container a i.up {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  position: fixed;
  bottom: .2em;
  right: .5em;
  z-index: 20;
  -webkit-transition: color .6s;
  transition: color .6s;
}

div#up-container a i.up:hover {
  color: #d7d7d7;
}

/*GROUP-INFO*/
section.group-info {
  background-color: #507255;
  color: #282828;
  font-family: "Libre Franklin", sans-serif;
  padding: 30px;
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

section.group-info div.content-frame {
  width: 85%;
  max-width: 1000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px;
  padding: 80px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 30px 3px #000;
          box-shadow: 0px 0px 30px 3px #000;
  border-radius: 5px;
}

section.group-info div.content-frame h2 {
  font-family: "Libre Franklin", sans-serif;
  padding-bottom: 10px;
  font-size: 1.75em;
  color: #119DA4;
}

section.group-info div.content-frame h3 {
  padding: 0 0 0 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  text-align: justify;
  color: #3b444b;
}

section.group-info div.content-frame p {
  padding: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  text-align: justify;
}

section.group-info div.content-frame div p.quote {
  font-style: italic;
  text-align: left;
  font-weight: 400;
  color: #282828;
  padding: 10px;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

section.group-info div.content-frame div p.quote span {
  font-style: normal;
  font-weight: 600;
}

/*THE TEAM*/
section#team {
  background-color: #507255;
  color: #282828;
  font-family: "Libre Franklin", sans-serif;
  padding: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#team div.content-frame {
  width: 85%;
  max-width: 1000px;
  margin: 100px;
  padding: 80px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 30px 3px #000;
          box-shadow: 0px 0px 30px 3px #000;
  border-radius: 5px;
}

section#team h2 {
  font-size: 1.75em;
  margin-bottom: 30px;
  color: #119DA4;
}

section#team div.person:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

section#team div.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#team div.person p {
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  width: 60%;
  line-height: 1.5;
  font-size: 1.25em;
}

section#team div.person p span.name {
  font-size: 1.25em;
  font-weight: 500;
  color: #3b444b;
}

section#team div.person p span.italic {
  font-style: italic;
}

section#team div.person p:nth-child(odd) {
  padding: 0 40px 0 0;
}

section#team div.person p:nth-child(even) {
  padding: 0 0 0 40px;
}

section#team div.person div.pic {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 35%;
  height: 25em;
  -webkit-box-shadow: 0px 0px 20px 2px #444;
          box-shadow: 0px 0px 20px 2px #444;
}

section#team div.person div.pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*SHOWS*/
section#shows {
  background-color: #507255;
  color: #282828;
  font-family: "Libre Franklin", sans-serif;
  padding: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

section#shows div.content-frame {
  width: 85%;
  max-width: 1000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px 100px 0px 100px;
  padding: 80px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 30px 3px #000;
          box-shadow: 0px 0px 30px 3px #000;
  border-radius: 5px;
}

section#shows div.content-frame h2 {
  font-size: 1.75em;
  color: #119DA4;
}

section#shows div.content-frame ul {
  padding: 20px;
}

section#shows div.content-frame ul li {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px 0px;
  font-size: 1.25em;
}

/*CONTACTS*/
section#contacts {
  background-color: #507255;
  color: #d7d7d7;
  font-family: "Libre Franklin", sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#contacts div.content-frame {
  z-index: 2;
  width: 75%;
  margin: 30px;
  padding: 30px;
}

section#contacts h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

section#contacts ul {
  list-style: none;
  text-decoration: none;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#contacts ul li {
  padding: 0 20px;
}

section#contacts ul li a {
  color: #d7d7d7;
  -webkit-transition: color .6s;
  transition: color .6s;
}

section#contacts ul li a:hover {
  color: #282828;
}

/*FOOTER*/
section#footer {
  z-index: 8;
  background-color: #282828;
  color: #d7d7d7;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

/*MEDIA-QUERIES*/
@media only screen and (max-width: 1200px) {
  body section.group-info div.content-frame {
    width: 90%;
    margin: 0px;
    padding: 60px;
  }
  body section#team div.content-frame {
    width: 90%;
    margin: 0px;
    padding: 60px;
  }
  body section#shows div.content-frame {
    width: 90%;
    margin: 0px;
    padding: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  body section#navbar div.nav-container div#nav-list {
    width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  body section#navbar div.nav-container div#logo a {
    font-size: 16px;
  }
  body section#navbar div.nav-container div#nav-list a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  body section#team div.content-frame div.person div.pic {
    width: 250px;
    height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  div#subtitle div#sub-wrapper h1 {
    font-size: 3em;
  }
  div#subtitle div#sub-wrapper h2 {
    font-size: 1.5em;
  }
  section.group-info div.content-frame p {
    font-size: 16px;
  }
  body section#team div.content-frame div.person p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 885px) {
  body section#navbar div.nav-container div#nav-list {
    width: 100%;
  }
  body section#navbar div.nav-container {
    margin: 0 0;
  }
}

@media only screen and (max-width: 800px) {
  body section.group-info {
    padding: 0;
  }
  body section.group-info div.content-frame {
    width: 100%;
    border-radius: 0;
  }
  body section#team {
    padding: 0;
  }
  body section#team div.content-frame {
    width: 100%;
    border-radius: 0;
  }
  body section#shows {
    padding: 0;
  }
  body section#shows div.content-frame {
    width: 100%;
    border-radius: 0;
  }
  div#up-container a i.up {
    bottom: .45em;
    color: rgba(40, 40, 40, 0.75);
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
  }
  div#up-container a i.up:hover {
    color: rgba(40, 40, 40, 0.75);
  }
  body section#navbar {
    height: 100px;
  }
  body section#navbar div.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px;
  }
  body section#navbar div.nav-container div#logo div a {
    font-weight: 700;
    font-size: 20px;
    width: 100vw;
  }
  body section#navbar div.nav-container div#logo div a:hover {
    color: #d7d7d7;
    background-color: #3b444b;
  }
  body section#navbar div.nav-container div#logo div a:hover text, body section#navbar div.nav-container div#logo div a:hover polygon, body section#navbar div.nav-container div#logo div a:hover path {
    fill: #d7d7d7;
  }
  body section#navbar div.nav-container div#logo div a:hover circle {
    stroke: #d7d7d7;
  }
  body section#navbar div.nav-container div#nav-list {
    width: 100%;
  }
  body section#navbar div.nav-container div#nav-list div#nav-list-container a {
    width: 100%;
    padding: 0 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  div#subtitle {
    bottom: 75vh;
  }
}

@media only screen and (max-width: 650px) {
  body section#team div.content-frame div.person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  body section#team div.content-frame div.person p {
    width: auto;
    font-size: 1.25em;
  }
  body section#team div.content-frame div.person p:nth-child(odd) {
    padding: 0 0 20px 0;
  }
  body section#team div.content-frame div.person p:nth-child(even) {
    padding: 20px 0 0 0;
  }
  body section#team div.content-frame div.person div.pic {
    width: auto;
    height: 500px;
    max-height: 500px;
  }
  body section#team div.content-frame div.person:not(:last-child):after {
    content: '...';
    color: transparent;
    background-color: rgba(172, 167, 167, 0.75);
    width: 150px;
    height: 2px;
    margin: 2px;
    margin: 40px;
  }
  body section.group-info div.content-frame {
    padding: 50px;
  }
  body section.group-info div.content-frame p {
    font-size: 1.25em;
  }
  body section#team div.content-frame {
    padding: 50px;
  }
  body section#shows div.content-frame {
    padding: 50px;
  }
}

@media only screen and (max-width: 605px) {
  div#subtitle {
    bottom: 85vh;
  }
  body section#navbar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  body section#navbar div.nav-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  body section#navbar div.nav-container div#logo {
    height: 50px;
  }
  body section#navbar div.nav-container div#logo button {
    display: inline-block;
    position: absolute;
    top: 1.25em;
    right: 1.5em;
    background-color: transparent;
    border: none;
  }
  body section#navbar div.nav-container div#logo button i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
  }
  body section#navbar div.nav-container div#logo button i:hover {
    color: #d7d7d7;
  }
  body section#navbar div.nav-container div#logo button:focus {
    outline: none;
  }
  body section#navbar div.nav-container div#nav-list {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body section#navbar div.nav-container div#nav-list div#nav-list-container.toggle-off {
    display: none;
  }
  body section#navbar div.nav-container div#nav-list div#nav-list-container.toggle-on {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body section#navbar div.nav-container div#nav-list div#nav-list-container.toggle-on a {
    height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  body section.group-info div.content-frame {
    padding: 25px;
  }
  body section#team div.content-frame {
    padding: 25px;
  }
  body section#shows div.content-frame {
    padding: 25px;
  }
  body section#contacts div.content-frame {
    padding: 0;
  }
  body section#contacts div.content-frame h2 {
    padding: 10px 0;
  }
  body section#contacts div.content-frame ul li {
    padding: 10px;
  }
  body section#contacts div.content-frame ul li a {
    font-size: 28px;
  }
}

@media only screen and (max-width: 380px) {
  body section#team div.content-frame div.person div.pic {
    max-height: 400px;
  }
  body section#team div.content-frame div.person p {
    font-size: 16px;
  }
  body section.group-info div.content-frame h3 {
    font-size: 16px;
  }
  body section.group-info div.content-frame p {
    font-size: 16px;
  }
  body section#shows div.content-frame ul li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  div#subtitle div#sub-wrapper h1 {
    font-size: 2.5em;
  }
  div#subtitle div#sub-wrapper h2 {
    font-size: 1em;
  }
  body section#team div.content-frame div.person div.pic {
    max-height: 350px;
  }
}

@media only screen and (max-width: 280px) {
  body section#team div.content-frame div.person div.pic {
    max-height: 300px;
  }
}

@media only screen and (min-width: 740px) {
  body div#subtitle div#sub-wrapper h1, body div#subtitle div#sub-wrapper h2 {
    -webkit-filter: blur(0.25px);
            filter: blur(0.25px);
  }
}
/*# sourceMappingURL=styles.css.map */